---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("issues", "featured");

if (!entry) {
  throw new Error("Featured issue content is missing. Add src/content/issues/featured.mdx.");
}

const issueSlug = `/issues/${entry.slug}`;
const { Content } = await entry.render();
---

<Layout issueSlug={issueSlug} title={entry.data.title} frontmatter={entry.data}>
  <div transition:name={entry.data.title}>
    <Content />
  </div>
</Layout>
